package handlers

import (
	"github.com/gofiber/fiber/v2"
	"net/http"
)

// WelcomeHandler is a handler function for the welcome route in Fiber.
func WelcomeHandler(c *fiber.Ctx) error {
	return c.JSON(fiber.Map{"message": "Welcome Handler in Fiber!"})
}

// HelloHandler is a handler function for the hello route in Fiber.
func HelloHandler(c *fiber.Ctx) error {
	return c.JSON(fiber.Map{"message": "Hello Handler in Fiber!"})
}
